<header class="um-topbar">
    <h1 id="pageTitle"><%= pageTitle %></h1>
    <div class="um-topbar-right">
        <% if (typeof showSearch !== 'undefined' && showSearch) { %>
            <input type="text" id="globalSearch" class="p-input um-search-input" placeholder="ค้นหาด่วน (ชื่อ, username, อีเมล)...">
        <% } %>
    </div>
</header>
